<%- include("partials/header")  %>

<h1>Compose</h1>
<form method="POST" action="/compose">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include("partials/footer")  %>